calculateWordAmount/src/ResultToXmlShema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="word">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" />
              <xs:element name="count" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>